node_modules
index
target/*
classes/*
deploy/*
build/*
.idea/
.gradle/
inteldict.iml
src/main/gwt-unitCache/*
src/main/webapp/IntelDict/*
src/main/webapp/WEB-INF/classes/*
src/main/webapp/WEB-INF/deploy/*
src/main/webapp/WEB-INF/lib/*
*.war
*.min*.js
*.min*.css
#special for Mac Os
*.DS_Store
